In [1]:
person = {'name': '이이름', 'age': 40} # 딕셔너리 자료형

In [8]:
person['name'] # person의 name 값 조회

'이이름'

In [7]:
person['address'] = '주소' # 추가
person

{'name': '이이름', 'age': 40, 'address': '주소'}

In [9]:
person['name'] =  '(수정)이이름' # 수정
person

{'name': '(수정)이이름', 'age': 40, 'address': '주소'}

In [10]:
del person['address'] # 삭제
person

{'name': '(수정)이이름', 'age': 40}

In [2]:
person

{'name': '이이름', 'age': 40}

In [3]:
type(person)

dict

In [16]:
person = {"name": "이이름"}

In [14]:
person['age'] # 예외 발생

TypeError: 'set' object is not subscriptable

In [17]:
person.get('age') # get 메서드 사용 시 예외 발생 X

In [18]:
person.get('age', 40) # 기본값 40으로 설정

40

In [19]:
person = {"name": "이이름", "age": 40}

In [20]:
keys = person.keys() # 키 목록 조회
values = person.values() # 값 목록 조회 
print(keys, values)

dict_keys(['name', 'age']) dict_values(['이이름', 40])

In [22]:
values2 = list(values) # 리스트로 반환 
print(values2)

['이이름', 40]

In [23]:
items = person.items() # 키, 값의 쌍
print(items) # 튜플 형태로 반환

dict_items([('name', '이이름'), ('age', 40)])

In [24]:
for (name, age) in items: # 중괄호 대신 콜론(:) 사용 - 콜론 뒤에 수행될 함수 적기
    print(name, age)

name 이이름
age 40

In [25]:
'name' in person

True