In [2]:
a = (1, 2, 3)

In [3]:
a[1]

2

In [8]:
a = (1) # 튜플로 인식하는 것이 아니라 숫자 1로 인식 
a

1

In [11]:
type((1))

int

In [10]:
a = (1,) # 숫자 1이라는 값이 있는 튜플로 인식 
a

(1,)

In [12]:
type((1,))

tuple

In [4]:
a[1] = 'A' # 튜플은 변경불가 리스트이므로 수정 시 예외 발생

TypeError: 'tuple' object does not support item assignment

In [5]:
del a[1] # 튜플은 변경불가 리스트이므로 삭제 시 예외 발생

TypeError: 'tuple' object doesn't support item deletion

In [13]:
a = 1, 2, 3, 4, 5 # 튜플로 인식 
a

(1, 2, 3, 4, 5)

In [14]:
type(a)

tuple

In [16]:
a = (1, 2, 3)
b = (4, 5, 6)

In [17]:
c = a + b
print(c)

(1, 2, 3, 4, 5, 6)

In [19]:
b = (4, 5, 6)
d = a * 3
print(d)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
a = ("사과", "오렌지")

In [26]:
(apple, orange) = a # 비구조 할당 (리스트도 가능하지만 대괄호 생략 불가)

In [27]:
print(apple, orange)

사과 오렌지

In [28]:
a = "사과", "오렌지" # 튜플은 소괄호 없이 나열식으로도 사용 가능

In [29]:
apple, orange = a

In [30]:
print(apple, orange)

사과 오렌지

In [31]:
a = 20
b = 10

In [32]:
a, b =  b, a # 비구조 할당 (변수를 직접 할당)

In [33]:
print(a, b) # a, b 순서가 바뀐 것을 알 수 있음

10 20